<!DOCTYPE html>
<html lang="en">
<head>
  <title>DevCon Happening</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <!-- <link rel="icon" type="image/x-icon" href="css/e_nDl_icon.ico"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>

    <% include partial/nav %>

    <main>

      <div class="container">

        <div class="section wrapper center-align">
          <h3>Thank you for entering</h3>
          <h2>Devcon Design Challenge #1</h2>
          <br />
          <br />
          <div>You can claim your prizes from Iqbal <b>(Telegram: @iqbalbaharum)</b></div>
          <div>Please join our special Devcon Warrior group: <a href="https://t.me/joinchat/B6hBvArEQVaeppNhBTeN3A">https://t.me/joinchat/B6hBvArEQVaeppNhBTeN3A</a></div>
        </div>

      </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>

    </script>
</body>
</html>
